[Unit]
Description=NAFUDA bootup
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/electronic_badge_2018/bootup
ExecStart=/home/pi/electronic_badge_2018/bootup/bootup.sh
ExecStopPost=/home/pi/electronic_badge_2018/bootup/exec_stop_post.sh
Type=oneshot

[Install]
WantedBy=multi-user.target

## how to install
# sudo cp nafuda-bootup.service /etc/systemd/system/
# sudo systemctl daemon-reload
# sudo systemctl status nafuda-bootup
# (check output
# sudo systemctl enable nafuda-bootup
#